html,
.app {
    
    background-image:url ("../img/fondo.jpg");
    background-color: transparent;
    width: 100%;
    height: 100%;
    
}

.title{
    text-align: center;
}

.card {
    align-items: center;


    color: #666666;
    height: 300px;
    font-size: 15px;

}

.inputName {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

#validateButton{
    background-position: center;
    color:rgb(255, 255, 255);
    background-color: #1973b8;
    border: 0px;
    margin: 8px 0px;
    padding: 16px;
    width: 100%;
    vertical-align: middle;
}

